<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Listado</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

       
        <section th:replace="pelicula/fragmentoPelicula :: agregarPelicula"/>
        <section th:replace="pelicula/fragmentoPelicula :: listadoPeliculas"/>

      <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
