<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header " >
            <nav class="navbar navbar-expand-sm navbar-dark bg-danger p-0 ">
                <div class="container  ">
                    <a th:href="@{/}" class="navbar-brand " style="float: right;">AutoCine</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="d-inline-block "  id="navbarCollapse">
                        <ul class="navbar-nav d-inline-block "  sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item px-2 d-inline-block" style="margin-left: 10px;">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/cliente/listado}"
                                   th:text="#{plantilla.clientes}">Clientes</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/empleado/listado}"
                                   th:text="#{plantilla.empleado}">Empleados</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/pelicula/listado}"
                                   th:text="#{plantilla.pelicula}">Peliculas</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/combo/listado}"
                                   th:text="#{plantilla.combo}">Combos</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/factura/listado}"
                                 >Factura</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_CLIENTE')">

                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/combo/listado}"
                                   th:text="#{plantilla.combo}">Combos</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_CLIENTE')">

                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;" th:href="@{/pelicula/listado}"
                                   th:text="#{plantilla.pelicula}">Peliculas</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_CLIENTE')">

                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" style="color:white;
                                   margin-right: 10px;  "
                                   th:href="@{/notificacion/listado}"
                                   th:text="#{plantilla.notificacion}">Contactenos</a>
                            </li>

                        </ul>

                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_ADMIN')" >

                            <a class="btn  position-relative  " style="margin-bottom: 10px;
                               border-radius:20px;
                               margin-top: 10px;
                               background-color: #4CAAF4 ;
                               color: white;
                               " href="/notificacion/listado" role="button">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                                    [[${totalNotificaciones}]]

                                </span>
                                Notificaciones</a>

                        </ul>

                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_CLIENTE')">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ubicaciones
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li class="form-select" th:field="*{idUbi}">
                                        <a th:each="item : ${ubicacion}"
                                           th:value="${item.idUbi}"
                                           th:text="${item.ubicacion}">
                                        </a></li>
                                </ul>
                            </li>


                        </ul>



                        <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto d-inline-block">

                            <li class="nav-item d-inline-block" >
                                <form method="POST" th:action="@{/logout}">
                                    <a href="#" style="color:white;
                                       margin-left: 50px;  " onclick="this.parentNode.submit();" class="nav-link">
                                        <i class="fas fa-arrow-left"></i>
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </div>   
                </div> 

            </nav>
        </header>
        <footer class="text-center text-white "  style="background-color: #E2E2E2;">
            <!-- Grid container -->
            <div class="container pt-4" >
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #3b5998;"
                        href="https://www.facebook.com/cinemarkcr"
                        role="button"
                        ><i class="fab fa-facebook-f"></i
                        ></a>

                    <!-- Twitter -->
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #55acee;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-twitter"></i
                        ></a>

                    <!-- Google -->
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #dd4b39;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-google"></i
                        ></a>

                    <!-- Instagram -->
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #ac2bac;"
                        href="https://www.instagram.com/cinemark_ca/"
                        role="button"
                        ><i class="fab fa-instagram"></i
                        ></a>

                    <!-- Linkedin -->
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #0082ca;"
                        href="/notificacion/listado"
                        role="button"
                        ><i class="fas fa-comments"></i>
                    </a>
                    <!-- Github -->
                    <a
                        class="btn btn-primary btn-floating m-1"
                        style="background-color: #333333;"
                        href="#!"
                        role="button"
                        ><i class="fab fa-github"></i
                        ></a>
                </section>
                <!-- Section: Social media -->
            </div>

            <div class="text-center p-3" style="background-color: #DE4949 ;">
                © 2020 Copyright:
                <label class="text-white">AutoCine.com</label>
            </div>

        </footer>
    </body>
</html>
