<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">

    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="nav">
                <a th:href="@{/}" class="nav-link logo">Auto Cine</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/cliente/listado}">Listar Clientes</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/empleado/listado}">Listar Empleado</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/pelicula/listado}">Listar Peliculas</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-link nav-link" th:href="@{/ubicacion/listado}">Listar Ubicaciones</a>
                    </li>

                </ul>
            </nav>    
        </header>>
        <footer th:fragment="footer">
            &COPY; Derechos Reservados 2022   
        </footer>
    </body>
</html>
