<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:fragment="head">
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">AutoCine</a>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-inline-block " id="navbarCollapse">
                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_ADMIN')">
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" th:href="@{/cliente/listado}"
                                   th:text="#{plantilla.clientes}">Clientes</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" th:href="@{/empleado/listado}"
                                   th:text="#{plantilla.empleado}">Empleados</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" th:href="@{/pelicula/listado}"
                                   th:text="#{plantilla.pelicula}">Peliculas</a>
                            </li>
                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" th:href="@{/combo/listado}"
                                   th:text="#{plantilla.combo}">Combos</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_CLIENTE')">

                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" th:href="@{/combo/listado}"
                                   th:text="#{plantilla.combo}">Combos</a>
                            </li>

                        </ul>
                        <ul class="navbar-nav d-inline-block" >

                            <li class="nav-item px-2 d-inline-block">
                                <a class="nav-menu-link nav-link" th:href="@{/notificacion/listado}"
                                   th:text="#{plantilla.notificacion}">Notificaciones</a>
                            </li>

                        </ul>



                        <ul class="navbar-nav d-inline-block" >

                            <a class="btn btn-primary position-relative"  href="/notificacion/listado" role="button">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    [[${totalNotificaciones}]]

                                </span>
                            Notificaciones</a>

                        </ul>

                        <ul class="navbar-nav d-inline-block" sec:authorize="hasRole('ROLE_CLIENTE')">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Ubicaciones
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li class="form-select" th:field="*{idUbi}">
                                        <a th:each="item : ${ubicacion}"
                                           th:value="${item.idUbi}"
                                           th:text="${item.ubicacion}">
                                        </a></li>
                                </ul>
                            </li>


                        </ul>



                        <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto d-inline-block">

                            <li class="nav-item d-inline-block">
                                <form method="POST" th:action="@{/logout}">
                                    <a href="#" onclick="this.parentNode.submit();" class="nav-link">
                                        <i class="fas fa-arrow-right-from-bracket"></i> [[#{plantilla.logout}]]
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </div>                    
                </div>|
            </nav>
        </header>

    </body>
</html>
