body{
   background-color:white; 
}
#contenedor{

    position:relative;
    width:520PX;
    height:460px;
    margin:0px auto;
    margin-top:50px;
padding:40px;


}
/*Para el color del borde de la caja del login
#contendor:before{
    content:'';
position:absolute;
top:-2px;
left:-2px;
right:-2px;
bottom:-2px;
background:#fff;
z-index:-1;
}
#contenedor:after{
content:'';
position:absolute;
top:-2px;
left:-2px;
right:-2px;
bottom:-2px;
background:#fff;
z-index:-2;
filter:blur(30px);
}
#contenedor:before,#contenedor:after{
background:linear-gradient(235deg,#F80000,#ececec,red);
}
*/
#contenedor #tituloapellido{
float:right;
margin-right:118px;
}
#contenedor label{
   
    text-transform:uppercase;
    
}
#contenedor input[name="nombre"], #contenedor input[name="apellidos"]{
position:relative;
display:inline-block;
height:30px;
width:44%;
background:transparent;
color:black;
border-radius:10px;
padding-left:4px;
border:2px outset;
border-top-color:#b20d34;
border-left-color:#b20d34;
margin-bottom:10px;
margin-top: 10px;
}
#contenedor input[name="apellidos"]{
    float: right;
    margin-right: 12px;
}
#contenedor input[name="nombre"]:focus, #contenedor input[name="apellidos"]:focus{
    border:2px inset #b20d34;
    box-shadow: 0 0 10px #b20d34;
    outline:none;
}
#contenedor input[name="nombre"]::placeholder, #contenedor input[name="apellidos"]::placeholder,#contenedor input[name="pasword"]::placeholder, #contenedor input[name="cedula"]::placeholder{
    color:gray;
      }
#contenedor input[name="nombre"]{
    margin-right:40px;
}
#contenedor input[name="pasword"], #contenedor input[name="cedula"]{
height:30px;
width:97.6%;
background:transparent;
color:#000000;
border-radius:10px;
padding-left:5px;
border:2px outset;
margin:10px 0px 10px 0px;
border-top-color:#b20d34;
border-left-color:#b20d34;
}

#contenedor input[name="pasword"]:focus, #contenedor input[name="cedula"]:focus{
    border:2px inset #b20d34;
    box-shadow: 0 0 10px #b20d34;
outline:none;
}



/*Boton registrar*/
#boton{
    text-align:center;
    margin:40px;
}
#boton input[name="guardar"]{
   
outline:none;
border:none;
background-color: transparent;
    position:relative;
    display:inline-block;
    text-decoration:none;
    padding: 15px 30px;
    font-size:24px;
    color:#b20d34;
    text-transform:uppercase;
    letter-spacing: 3px;
overflow:hidden;
transition:0.5s;

}
#boton input[name="guardar"]:hover{
color:#ffffff;
background:#b20d34;
box-shadow: 0px 0px 10px #b20d34,
 0px 0px 40px #b20d34 ,0px 0px 80px #b20d34;
 cursor:pointer;
}