<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head >
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/estiloMenu.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>


       <header>
            <!--header logo-->
            <div id="header">
                <div id="logo">
                  
                </div>
                <!--header menu de inicio-->
                <nav id="menu">
                    <ul>
                        <li> <a th:href="@{/login}">Cliente</a></li>
                        <li> <a th:href="@{/listar}">Empleado</a></li>
                       
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>
