<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>AutoCine</title>
    </head>
    <body>
        
        <header th:replace="layout/plantilla :: header"/>
        <div class="ratio"  style="--bs-aspect-ratio: 20%;">
             
  <iframe src="https://www.youtube.com/embed/D9AzGVmMVpk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
        <div class="container">
            <h2 th:text="#{index.titulo}">Nuestros Articulos</h2>
            
            <div class="row row-cols-6" th:if="${peliculas != null and !peliculas.empty}">
                <div class="card" th:each="pelicula : ${peliculas}" >
               <img src="/images/avengers.jpg" class="card-img-top" alt="pelicula">  
            
                    <div class="card-body">
                        <h5 class="card-title">[[${pelicula.nombre}]]</h5>
                                  
                    </div>
                </div>                
            </div>
            <div th:if="${peliculas == null or peliculas.empty}"  th:text="#{pelicula.no_mostrar}">
                No tenemos lista de peliculas que mostrar...
            </div>
        </div>
       
    </body>
</html>