<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_CLIENTE')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarNotificacion">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="listadoNotificaciones" id="notificaciones">
            <div class="container" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{notificacion.titulo}]]</h4>
                            </div>
                            <div th:if="${notificaciones != null and !notificaciones.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th th:text="#{notificacion.correo}">Correo</th>
                                            <th th:text="#{notificacion.notificacion}">Notificacion</th>


                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="notificacion, contador : ${notificaciones}">
                                            <td>[[${notificacion.correo}]]</td>
                                            <td>[[${notificacion.notifi}]]</td>

                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/notificacion/eliminar/}+${notificacion.idNoti}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${notificaciones == null or notificaciones.empty}">
                                <span th:text="#{notificacion.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
        <section th:fragment="agregarNotificacion">
            <div id="agregarNotificacion" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Notificacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/notificacion/guardar}" th:object="${notificacion}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="correo" th:text="#{notificacion.correo}">Correo</label>
                                    <input type="text" class="form-control" name="correo" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="notifi" th:text="#{notificacion.notificacion}">Notificacion</label>
                                    <input type="text" class="form-control" name="notifi" required="true">
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section th:fragment="editarNotificacion">            
            <form method="POST"
                  th:action="@{/notificacion/guardar}"
                  th:object="${notificacion}"
                  class="was-validated">
                <input type="hidden" name="idNoti" th:field="*{idNoti}"/>
                <section th:replace="notificacion/fragmentosNotificacion :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="correo" th:text="#{notificacion.correo}">Correo </label>
                                            <input type="text" class="form-control" name="correo" th:field="*{correo}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="notifi" th:text="#{notificacion.notificacion}">Notificacion </label>
                                            <input type="text"  class="form-control" name="notifi" th:field="*{notifi}"/>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/notificacion/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/notificacion/eliminar/}+${notificacion.idNoti}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>
