<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>Listado</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />

       
        <section th:replace="notificacion/fragmentosNotificacion :: agregarNotificacion"/>
        <section th:replace="notificacion/fragmentosNotificacion :: listadoNotificaciones"/>

      
    </body>
</html>
